{% extends "base.html" %}

{% block title %}
DOCTORS
{% endblock %}

{% block content %}
<h1>Doctors Page</h1>

<div class="container">
  {% for d in doctors %}
    <h1>{{ d.doc_name }}</h1>
    <div class="card" style="width: 18rem;">
      <img src="{{ d.image.url }}" class="card-img-top" alt="Doctor Image">
      <div class="card-body">
        <h5 class="card-title">{{ d.doc_name }}</h5>
        <p class="card-text">{{ d.doc_spec }}</p>
        <h6>{{ d.dep_name }}</h6>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
